<p>Hello!</p>
<p>
    Someone has changed password for your account at TimeLogger.<br />
    If that someone was you, everything is ok. You may login using your new credentials.
</p>
<p>If this was not made by you, contact us immediately at <a href="mailto:info@timelogger.eu?subject=Unauthorized password change for ##EMAIL##">info@timelogger.eu</a>.</p>
<p>
    Thank you again for believing in us,
</p>
<p>
    Vladimir Kocjancic,<br />
    Creator of TimeLogger<br />
    https://timelogger.eu
</p>