/*
    base font size: 1rem ~ 16px;
    14 is used to decrease default size from 16 to 14
*/
@font-face {
  font-family: "Montserrat-Bold";
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url('fonts/Montserrat-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: "Montserrat-Light";
  src: url('fonts/Montserrat-Light.ttf') format('truetype');
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url('fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}
html {
  font-size: 0.875em;
}
html,
body,
#tll,
#app {
  height: 100%;
}
#tll {
  overflow-y: scroll;
  padding-right: 0px !important;
  font-family: 'Montserrat-Regular', sans-serif;
  /* font sizes */
  /* font styles: FAMILY + SIZE */
  background-color: #fbf8f8;
}
#tll .ff-bold {
  font-family: 'Montserrat-Bold', sans-serif;
}
#tll .ff-light {
  font-family: 'Montserrat-Light', sans-serif;
}
#tll .ff-regular {
  font-family: 'Montserrat-Regular', sans-serif;
}
#tll .ff-medium {
  font-family: 'Montserrat-Medium', sans-serif;
}
#tll .font-normal {
  font-family: 'Montserrat-Regular', sans-serif;
}
#tll .font-light {
  font-family: 'Montserrat-Light', sans-serif;
}
#tll .font-bold {
  font-family: 'Montserrat-Bold', sans-serif;
}
#tll .font-medium {
  font-family: 'Montserrat-Medium', sans-serif;
}
#tll .font-size-12 {
  font-size: 0.75em;
}
#tll .font-size-13 {
  font-size: 0.8125em;
}
#tll .font-size-14 {
  font-size: 0.875em;
}
#tll .font-size-15 {
  font-size: 0.9375em;
}
#tll .font-size-16 {
  font-size: 1em;
}
#tll .font-size-19 {
  font-size: 1.1875em;
}
#tll .font-size-26 {
  font-size: 1.625em;
}
#tll .font-size-40 {
  font-size: 2.5em;
}
#tll .font-size-51 {
  font-size: 3.1875em;
}
#tll .font-size-tiny {
  font-size: 0.75em;
}
#tll .font-size-small {
  font-size: 0.8125em;
}
#tll .font-size-normal {
  font-size: 0.875em;
}
#tll .font-size-large {
  font-size: 1em;
}
#tll .font-size-x-large {
  font-size: 1.1875em;
}
#tll .font-size-xx-large {
  font-size: 1.625em;
}
#tll .font-size-xxx-large {
  font-size: 2.5em;
}
#tll .font-size-xxxx-large {
  font-size: 3.1875em;
}
#tll .font-style-title {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 1em;
  color: #081528;
}
#tll .title-main {
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 1.1875em;
  color: #081528;
}
#tll .font-style-subtitle {
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 1.1875em;
}
#tll .font-style-xxxx-large-bold {
  font-size: 3.1875em;
  font-family: 'Montserrat-Bold', sans-serif;
}
#tll .font-style-xxx-large-bold {
  font-size: 2.5em;
  font-family: 'Montserrat-Bold', sans-serif;
}
#tll .font-style-xx-large-bold {
  font-size: 1.625em;
  font-family: 'Montserrat-Bold', sans-serif;
}
#tll .font-style-x-large-bold {
  font-size: 1.1875em;
  font-family: 'Montserrat-Bold', sans-serif;
}
#tll .font-style-large-bold {
  font-size: 1em;
  font-family: 'Montserrat-Bold', sans-serif;
}
#tll .font-style-normal-bold {
  font-size: 0.875em;
  font-family: 'Montserrat-Bold', sans-serif;
}
#tll .font-style-small-bold {
  font-size: 0.8125em;
  font-family: 'Montserrat-Bold', sans-serif;
}
#tll .font-style-tiny-bold {
  font-size: 0.75em;
  font-family: 'Montserrat-Bold', sans-serif;
}
#tll .font-style-footnote {
  font-size: 0.75em;
}
#tll .alert {
  background-color: #ffffff;
  border-color: #bbb8b8;
  color: #081528;
  border-left-style: solid;
  border-left-width: 5px;
}
#tll .alert.alert-danger {
  border-left-color: #c71f16;
}
#tll .alert.alert-success {
  border-left-color: #7eb914;
}
#tll .alert.alert-warning {
  border-left-color: #eecc00;
}
#tll .form-account {
  background-color: #ffffff;
  background-image: url('../images/login_logo.png');
  background-position: 50% 2rem;
  background-repeat: no-repeat;
  border: solid 1px #bbb8b8;
  border-radius: 3px;
  padding: 10rem 4rem 2rem;
}
#tll .form-account div {
  margin-top: 1rem;
}
#tll .form-account div:last-child {
  margin-top: 2rem;
}
#tll .form-account ul {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}
#tll .form-account .footnote {
  font-size: 0.75em;
  margin-top: 0.375rem;
}